@model Portail_Emploi.Models.Candidat

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Candidat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_Etude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_Etude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_Employeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_Employeur)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Candidat" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
